<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>

        <h1>Write any number in the box!!</h1>
        <form action="/total" method="POST">
        <h3><input type="number" name="value">Number</h3>
        <button type="submit"> Conver to Roman </button>
        </form>       
</body>
</html>